.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: @black;

    &__container {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__logo {
        width: 82px;
        margin-right: 80px;
    }
}

.menu {
    width: 800px;
    display: flex;
    align-items: center;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & li a {
            padding-bottom: 4px;

            &:hover {
                color: @yellow;
            }
            
            &:extend(.link-hover);

            &:after {
                &:extend(.link-hover-after);
            }

            &:hover::after {
                &:extend(.link-hover-width);
            }
        }
    }
}

.phones {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    &__link {
        padding-bottom: 4px;

        &:hover {
            color: @yellow;
        }
        &:extend(.link-hover);

        &:after {
            &:extend(.link-hover-after);
        }

        &:hover::after {
            &:extend(.link-hover-width);
        }

        &:first-child {
            margin-bottom: 8px;
        }
    }
}
 