.header {
    margin-bottom: 48px;

    &__container {
        display: flex;
        padding-top: 30px;
        padding-bottom: 54px;
    }

    &__logo {
        width: 82px;
        margin-right: 80px;
    }
}

.menu {
    width: 825px;
    display: flex;
    align-items: center;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.phones {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
 