.offer {
    min-height: 90vh;
    padding-bottom: 90px;

    .xxl-block({
        min-height: 86vh;
        padding-bottom: 70px;
    });

    .md-block({
        min-height: 68vh;
    });
    
    &__img {
        width: 1000px;
        margin: 0 auto 37px;

        .xxl-block({
            width: 800px;
            margin-bottom: 30px;
        });

        .md-block({
            width: 90%;
        });
    }

    &__title {
        font-size: 80px;
        font-weight: 900;
        letter-spacing: 0.32em;
        text-align: center;
        margin-bottom: 15px;

        .md-block({
            font-size: 62px;
        });
    }

    &__subtitle {
        font-size: 39px;
        letter-spacing: 0.24em;
        text-align: center;
        margin-bottom: 35px;

        .md-block({
            font-size: 28px;
        });
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    &__btn--contact {
        margin-right: 40px;
        &:extend(.btn-light);

        &:hover {
            &:extend(.btn-light-hover);
        }

        &:active {
            &:extend(.btn-light-active);
        }
    }

    &__btn--cost {
        &:extend(.btn-dark);

        &:hover {
            &:extend(.btn-dark-hover);
        }

        &:active {
            &:extend(.btn-dark-active);
        }
    }
}