.offer {
    height: 91vh;
    min-width: 80vh;
    padding-bottom: 6vh;
    
    &__img {
        width: 86%;
        margin: 0 auto 50px;
    }

    &__title {
        font-size: 80px;
        font-weight: 900;
        letter-spacing: 0.32em;
        text-align: center;
        margin-bottom: 23px;
    }

    &__subtitle {
        font-size: 39px;
        letter-spacing: 0.24em;
        text-align: center;
        margin-bottom: 40px;
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    &__btn--contact {
        margin-right: 40px;
        &:extend(.btn-light);
    }

    &__btn--cost {
        &:extend(.btn-dark);
    }
}