.offer {
    min-height: 90vh;
    padding-bottom: 90px;
    
    &__img {
        width: 80%;
        margin: 0 auto 42px;
    }

    &__title {
        font-size: 80px;
        font-weight: 900;
        letter-spacing: 0.32em;
        text-align: center;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 39px;
        letter-spacing: 0.24em;
        text-align: center;
        margin-bottom: 40px;
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    &__btn--contact {
        margin-right: 40px;
        &:extend(.btn-light);

        &:hover {
            &:extend(.btn-light-hover);
        }

        &:active {
            &:extend(.btn-light-active);
        }
    }

    &__btn--cost {
        &:extend(.btn-dark);

        &:hover {
            &:extend(.btn-dark-hover);
        }

        &:active {
            &:extend(.btn-dark-active);
        }
    }
}