.services {

    &__title {
        &:extend(.title-2);
        font-weight: 900;
        margin-bottom: 40px;
    }

    &__list {
        &:extend(.sg-row);
        flex-direction: column;
        height: 705px;
        margin-bottom: 18px;

        .xl-block({
            height: 670px;
        });
    }

    &__item {
        &:extend(.sg-col);
        .size(4);
        box-shadow: 0px 1px 10px rgba(238, 215, 215, 0.25);
        border-radius: 15px;
        margin-bottom: 40px;
        height: 310px;
        padding-top: 47px;
        padding-left: 30px;

        .xl-block({
            height: 300px;
            padding-top: 43px;
            margin-bottom: 30px;
        });

        &--large {
           height: 406px;

           .xl-block({
                height: 390px;
            });

            & .services__icon {
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: @yellow;

                & img {
                    width: 82px;
                }
            }

            & .services__subtitle {
                margin-bottom: 10px;
            }
        }

        &--small {
            height: 214px;

            .xl-block({
                height: 210px;
            });
        }
    }

    &__icon {
        width: 69px;
        height: 69px;
        margin-bottom: 18px;
    }

    &__subtitle {
        &:extend(.title-3);
        margin-bottom: 16px;
    }

    &__desc {
        margin-bottom: 13px;
    }

    &__link {
        font-family: 'Myriad Pro', sans-serif;
        font-size: 27px;
        font-weight: 700;
        color: @yellow;
        padding-bottom: 4px;

        .xl-block({
            font-size: 25px;
        });

        &:hover {
            color: @yellow;
        }
        
        &:extend(.link-hover);

        &:after {
            &:extend(.link-hover-after);
            width: 100%;
        }

        &:hover::after {
            &:extend(.link-hover-width);
            width: 0;
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 600;
    }

    &__btn {
        &:extend(.btn-dark);
        display: block;
        margin: 0 auto;

        &:hover {
            &:extend(.btn-dark-hover);
        }
    }
}