.screedFloor {
    padding-top: 100px;
    padding-bottom: 100px;
    color: @black;
    background: @white;

    .sm-block({
        padding-top: 70px;
        padding-bottom: 60px;
    });

    &__title {
        &:extend(.title-2);
        margin-bottom: 50px;

        .sm-block({
            margin-bottom: 35px;
        });
    }

    & p {
        margin-bottom: 20px;
    }

    &__list {
        &:extend(.sg-row);
        margin-bottom: 40px;

        .xxs-block({
            justify-content: center;
            margin-bottom: 10px;
        });        
    }

    &__item {
        &:extend(.sg-col);
        .size(4);
        display: flex;
        flex-direction: column;
        align-items: center;

        .xxs-block({
            .size(6);
            margin-bottom: 25px;
        });
    }

    &__img {
        width: 70px;
        height: 57px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 12px;
    }
}

.popularity {
    padding-top: 100px;
    padding-bottom: 30px;

    .sm-block({
        padding-top: 70px;
    });

    &__title {
        &:extend(.title-3);
        margin-bottom: 70px;

        .sm-block({
            margin-bottom: 45px;
        });
    }

    &__list {
        &:extend(.sg-row);
        margin-bottom: 40px;;
    }

    &__item {
        &:extend(.sg-col);
        .size(4);
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .md-block({
            .size(6);
        });

        .sm-block({
            .size(12);
        });
    }

    &__icon {
        width: 54px;
        min-width: 54px;
        height: 54px;
        margin-right: 25px;

        .sm-block({
            width: 35px;
            min-width: 35px;
            height: 35px;
        });
    }
}

.screedOrder {
    padding-bottom: 100px;

    &__info {
        &:extend(.sg-row);

        .sm-block({
            flex-direction: column-reverse;
        });
    }

    &__cont {
        &:extend(.sg-col);
        .size(6);

        .sm-block({
            .size(12);
        });
    }

    &__title {
        &:extend(.title-3);
        margin-bottom: 60px;

        .sm-block({
            margin-bottom: 40px;
        });
    }

    & p {
        margin-bottom: 22px;
    }

    &__phones {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        & p {
            margin-bottom: 20px;
        }
    }

    &__item {
        margin-bottom: 10px;
    }

    &__phone {
        padding-bottom: 4px;
        &:extend(.link-hover);

        &:hover {
            color: @yellow;
        }
        
        &:after {
            &:extend(.link-hover-after);
        }

        &:hover::after {
            &:extend(.link-hover-width);
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        .sm-block({
            align-items: center;
        });
    }

    &__link-order {
        &:extend(.btn-light);
        margin-bottom: 30px;

        &:hover {
            &:extend(.btn-light-hover);
        }

        &:active {
            &:extend(.btn-light-active);
        }
    }

    &__link-calc {
        &:extend(.btn-dark);

        &:hover {
            &:extend(.btn-dark-hover);
        }

        &:active {
            &:extend(.btn-dark-active);
        }
    }

    &__img {
        &:extend(.sg-col);
        .size(6);

        .sm-block({
            .size(12);
            margin-bottom: 30px;
        });
    }
}

.installation {
    padding-top: 100px;
    padding-bottom: 100px;
    color: @black;
    background: @white;

    .sm-block({
        padding-top: 70px;
        padding-bottom: 60px;
    });

    &__title {
        &:extend(.title-2);
        margin-bottom: 50px;

        .sm-block({
            margin-bottom: 35px;
        });
    }

    &__img {
        margin-bottom: 50px;
    }
}