.works {
    padding-top: 100px;
    padding-bottom: 60px;
    background: @white;

    &__title {
        &:extend(.title-2);
        color: @black;
        text-align: left;
        margin-bottom: 68px;
    }

    &__slider {
        transform: translate(0, -60px);
    }

    & .draggable {
        padding-bottom: 60px;
    }

    &__slide {
        padding: 0 20px;
    }

    &-prev,
    &-next {
        width: 150px;
        position: absolute;
        z-index: 30;
        bottom: 10px;
        cursor: pointer;
    }

    &-prev {
        right: 200px;
    }

    &-next {
        right: 20px;
    }
}

.works__slider .slick-current {
    transform: translate(0, 60px);
}
