.works {
    padding-top: 100px;
    padding-bottom: 100px;
    background: @white;

    &__title {
        &:extend(.title-2);
        color: @black;
        text-align: left;
        margin-bottom: 68px;
    }
}