@import "vars.less";
@import "smart-grid.less";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Black.woff2') format('woff2'),
        url('../fonts/MyriadPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 

.reset();

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: @white;
    background: #000;

    .xs-block({
        font-size: 16px;
    });
}

.container{
    .wrapper();
}

.sg-row {
    .row-flex();
}

.sg-col {
    .col();
}

a {
	display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: @white;
    transition: all 0.5s ease;
    cursor: pointer;
}

button {
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

img {
    display: block;
}

address {
    font-size: 20px;

    .lg-block({
        font-size: 19px;
    });
}

.btn {
    width: 290px;
    height: 66px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    line-height: 63px;
    text-align: center;

    .xl-block({
        width: 260px;
        height: 60px;
        font-size: 20px;
        line-height: 58px;
    });
}

.btn-light {
    &:extend(.btn);
    background: linear-gradient(180deg, #BB955F 0%, #F4C888 100%);
    box-shadow: 0px 1px 10px rgba(198, 171, 133, 0.5);
    color: @white;
}

.btn-light-hover {
    background: linear-gradient(180deg, #BB955F 51.04%, #F4C888 100%);
    box-shadow: 0px 1px 10px rgba(218, 144, 38, 0.5);
}

.btn-light-active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.btn-dark {
    &:extend(.btn);
    background: transparent;
    border: 1px solid @yellow;
    filter: drop-shadow(0px 1px 10px rgba(198, 171, 133, 0.5));
    color: @yellow;
}

.btn-dark-hover {
    background: rgba(255, 255, 255, 0.15);
}

.btn-dark-active {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.title-2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

    .xl-block({
       font-size: 48px;
    });

    .md-block({
        font-size: 42px;
    });

    .sm-block({
        font-size: 39px;
    });

    .xs-block({
        font-size: 35px;
    });
}

.title-3 {
    font-size: 33px;

    .xl-block({
        font-size: 30px;
    });

    .xs-block({
        font-size: 25px;
    });
}

.title-4 {
    font-size: 27px;
    color: @yellow;

    .xl-block({
        font-size: 25px;
    });

    .xs-block({
        font-size: 23px;
    });
}

.form-input {
    width: 290px;
    height: 66px;
    border: 1px solid #BAB8B8;
    border-radius: 100px;
    background: transparent;
    padding-left: 26px;
    color: @gray;

    .xl-block({
        width: 260px;
    });
}

.slick-slide:focus {
    outline: none;
}

.link-hover {
    position: relative;
    z-index: 11;
}

.link-hover-after {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    height: 100%;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    border-bottom: 1px solid @yellow;
}

.link-hover-width {
    width: 100%;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}

.hamburger {
    text-align: center;
    display: none;

    .md-block({
        display: block;
        margin: 0 auto;
    });
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.hamRotate180.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.line {
    fill:none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}



@import "sections/header.less";
@import "sections/offer.less";
@import "sections/calc.less";
@import "sections/services.less";
@import "sections/stages.less";
@import "sections/works.less";
@import "sections/why.less";
@import "sections/thatSay.less";
@import "sections/blog.less";
@import "sections/footer.less";
@import "sections/modal.less";